<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken">
    <!-- Page Title -->
    <title>Inclub - Single Property HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- Google Fonts Css-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- SlickNav Css -->
    <link href="/css/slicknav.min.css" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <!-- Font Awesome Icon Css-->
    <link href="/css/all.min.css" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Mouse Cursor Css File -->
    <link rel="stylesheet" href="/css/mousecursor.css">
    <!-- Main Custom Css -->
    <link href="/css/custom.css" rel="stylesheet" media="screen">
    <!--    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">-->
    <!--    <link rel="stylesheet" href="/resources/demos/style.css">-->


    <style>
        label{
            color: white;;
            /*background-color: grey;*/
            border-radius: 10px;
        }

        .error{
            color: red;

        }
        body {
            background-image: url('/images/pass3.jpg');
            background-size: 1500px 700px; /* Set width and height */
            background-repeat: no-repeat; /* Prevent repeating */
            background-position: center; /* Center the image */
        }


    </style>
</head>
<body>

<!-- Preloader Start -->
<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="/images/loader.svg" alt=""></div>
    </div>
</div>
<!-- Preloader End -->


<div   style="margin-left: 700px;margin-right: 70px; background-color: rgba(128, 128, 128, 0.5);  border-radius: 10px;">
    <div class="col-lg-12">
        <!-- Contact Form Start -->
        <div class="contact-form ">
            <form  id="loginForm"   class="wow fadeInUp container " data-wow-delay="0.25s">
                <div class="row">
                    <h2 class="text-center mb-3" style="color: #ea6634">Change Password</h2>

                    <div class="form-group col-md-12 mb-4">
                        <label for="current">Current Password</label>
                        <input type="password" name="current" class="form-control" id="current" placeholder="enter current password" required>
                        <!--                        <div class="help-block with-errors"></div>-->
                    </div>

                    <div class="form-group col-md-12 mb-4">
                        <label for="new"> New Password</label>
                        <input type="password" name="new" class="form-control" id="new" placeholder="enter new password" required>
                        <!--                        <div class="help-block with-errors"></div>-->
                    </div>


                    <div class="form-group col-md-6 mb-5">
                        <button type="button"  onclick="LoginNow()" class="btn-default " >Update</button><br>
                        <a href="/admin/admindashboard" style="color: black ">Back</a>
                        <!--                        <div id="msgSubmit" class="h3 hidden"></div>-->
                    </div>
                </div>
            </form>
        </div>
        <!-- Contact Form End -->
    </div>
</div>




<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-validation/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cosmogicofficial/quantumalert@latest/minfile/quantumalert.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



<!--<script src="https://code.jquery.com/jquery-3.7.1.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>-->

<!-- Jquery Library File -->
<!--<script src="/js/jquery-3.7.1.min.js"></script>-->
<!-- Bootstrap js file -->
<script src="/js/bootstrap.min.js"></script>
<!-- Validator js file -->
<!--<script src="/js/validator.min.js"></script>-->
<!-- SlickNav js file -->
<script src="/js/jquery.slicknav.js"></script>
<!-- Swiper js file -->
<script src="/js/swiper-bundle.min.js"></script>
<!-- Counter js file -->
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<!-- Magnific js file -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- SmoothScroll -->
<script src="/js/SmoothScroll.js"></script>
<!-- Parallax js -->
<script src="/js/parallaxie.js"></script>
<!-- MagicCursor js file -->
<script src="/js/gsap.min.js"></script>
<script src="/js/magiccursor.js"></script>
<!-- Text Effect js file -->
<script src="/js/SplitText.js"></script>
<script src="/js/ScrollTrigger.min.js"></script>
<!-- YTPlayer js File -->
<script src="/js/jquery.mb.YTPlayer.min.js"></script>
<!-- Wow js file -->
<script src="/js/wow.min.js"></script>
<!-- Main Custom js file -->
<script src="/js/function.js"></script>

<script>
    async function LoginNow()
    {
        if($("#loginForm").valid())
        {
            var password = document.getElementById("current").value;
            var npassword = document.getElementById("new").value;

            var res =await fetch("/admin/update",{
                method:'PUT',
                headers:{'Content-Type': 'application/json'},
                body:JSON.stringify({
                    npassword:npassword,
                    password:password
                })
            });
            res = await res.json();
            console.log(res);
            if(res.error){
                Qual.errordb("Error", res.message);
            }else
            {
                Qual.successdb("Success",res.message);
                document.getElementById("loginForm").reset();
                //after 2 sec of delay send it to sigin pg

            }
        }
    }
</script>



</body>
</html>