<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken">
    <!-- Page Title -->
    <title>Inclub - Single Property HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <!-- Google Fonts Css-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- SlickNav Css -->
    <link href="/css/slicknav.min.css" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <!-- Font Awesome Icon Css-->
    <link href="/css/all.min.css" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Mouse Cursor Css File -->
    <link rel="stylesheet" href="/css/mousecursor.css">
    <!-- Main Custom Css -->
    <link href="/css/custom.css" rel="stylesheet" media="screen">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--<style>
        .error{
            color: red;

        }
        .card {
            width: 20rem;
            border-radius: 12px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            background: linear-gradient(135deg, #959494, #ffffff);
            color: #333;
        }
        .card-body {
            padding: 18px;
        }
        .card-title {
            text-align: center;
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 12px;
        }
        p {
            font-size: 1rem;
            margin-bottom: 6px;
        }
    </style>-->

<%-include('../partials/headerfiles.html')%>

</head>
<body onload="ReadgaurdData()">

<!-- Preloader Start -->
<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="/images/loader.svg" alt=""></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Header Start -->
<%-include('../partials/adminheader')%>
<!-- Header End -->


<!-- Page Header Start -->
<div class="page-header parallaxie" style="background-image: url('/images/gallery-8.jpg')" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">Helper/Service Provier Pannel</h1>

                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->





<div class="container mt-5 mb-5" style="background-color: #ccc4c4 ; border-radius: 15px">
    <h2 class="text-center  mb-4"> Helper/Service Provider Registration Form</h2>
    <form id="regsform">
        <div class="row">
            <div class=" form-group col-md-6 ">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter full name" required>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" id="gender" name="gender" required>
                    <option selected disabled>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="number" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="number" name="number" placeholder="Enter phone number" required>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="adharcard" class="form-label">Aadhar Card Number</label>
                <input type="text" class="form-control" id="adharcard" name="adharcard" placeholder="Enter Aadhar card number" required>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="servicetype" class="form-label">Service Type</label>
                <select class="form-select" id="servicetype" name="servicetype" required>
                    <option selected disabled>Select service</option>
                    <option value="Electrican">Electrican</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Housekeeping">Housekeeping</option>
                    <option value="Cook">Cook</option>
                    <option value="Driver">Driver</option>
                </select>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="availability" class="form-label">Availability</label>
                <select class="form-select" id="availability" name="availability" required>
                    <option selected disabled>Select availability</option>
                    <option value="Full-Time">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                </select>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="medical" class="form-label">Medical Fitness</label>
                <select class="form-select" id="medical" name="medical" required>
                    <option selected disabled>Select medical</option>
                    <option value="Checked">Checked</option>
                    <option value="Unchecked">Unchecked</option>
                </select>
            </div>

        </div>

        <button type="button" onclick="register()" class="btn btn-primary mb-3">Register</button>
    </form>
</div>


<!--card-->
<h2 class="text-center mb-4"> List Of Helpers/Service Provider </h2>
<div class="row " style="padding-left: 30px" id="cards">

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<<!-- Jquery Library File -->
<script src="/js/jquery-3.7.1.min.js"></script>
<!-- Bootstrap js file -->
<script src="/js/bootstrap.min.js"></script>
<!-- Validator js file -->
<script src="/js/validator.min.js"></script>
<!-- SlickNav js file -->
<script src="/js/jquery.slicknav.js"></script>
<!-- Swiper js file -->
<script src="/js/swiper-bundle.min.js"></script>
<!-- Counter js file -->
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<!-- Magnific js file -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- SmoothScroll -->
<script src="/js/SmoothScroll.js"></script>
<!-- Parallax js -->
<script src="/js/parallaxie.js"></script>
<!-- MagicCursor js file -->
<!--<script src="/js/gsap.min.js"></script>
<script src="/js/magiccursor.js"></script>-->
<!-- Text Effect js file -->
<script src="/js/SplitText.js"></script>
<script src="/js/ScrollTrigger.min.js"></script>
<!-- YTPlayer js File -->
<script src="/js/jquery.mb.YTPlayer.min.js"></script>
<!-- Wow js file -->
<script src="/js/wow.min.js"></script>
<!-- Main Custom js file -->
<script src="/js/function.js"></script>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-validation/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cosmogicofficial/quantumalert@latest/minfile/quantumalert.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="/email.js"></script>




<script>
    async function register()
    {
        if ($("#regsform").valid()) {

            let length = 8
            const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let pass = '';
            for (let i = 0; i < length; i++) {
                const randomIndex = Math.floor(Math.random() * chars.length);
                pass += chars[randomIndex];
            }




            var password=pass;
            var name = document.getElementById("name").value;
            var gender = document.getElementById("gender").value;
            var number = document.getElementById("number").value;
            var email = document.getElementById("email").value;
            var adharcard = document.getElementById("adharcard").value;
            var servicetype = document.getElementById("servicetype").value;
            var availability = document.getElementById("availability").value;
            var medical = document.getElementById("medical").value;

            // console.log(gender)

            var formData = new FormData();
            formData.append('name', name)
            formData.append('email', email)
            formData.append('password', password)
            formData.append('number', number)
            formData.append('adharcard', adharcard)
            formData.append('gender', gender)
            formData.append('servicetype', servicetype)
            formData.append('availability', availability)
            formData.append('medical', medical)
            var res = await fetch("/admin/signuphelper", {
                method: "POST",
                body: formData
            });

            res = await res.json();
            console.log(res);
            if (res.error) {
                Qual.errordb("Error", res.message);
            } else {
                Qual.successdb("Success", res.message);
                sendEmail(email, password, name)
                ReadgaurdData()
            }
        }

    }


    async function ReadgaurdData() {
        try {

            var res = await fetch('/admin/viewhelperdata');
            res = await res.json();
            var records = res.records;
            // console.log(records);
            var html = ``;
            for (var x of records) {
                if(x.status=='Approved') {
                    html += `<tr>`
                    html += `<td><div class=" col-md-4 mb-3" >

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Helper Details</h5>
        <p><strong>Name:</strong> <span id="name">${x.name}</span></p>
        <p><strong>Gender:</strong> <span id="gender">${x.gender}</span></p>
        <p><strong>Phone Number:</strong> <span id="number">${x.number}</span></p>
        <p><strong>Email:</strong> <span id="email">${x.email}</span></p>
        <p><strong>Aadhar Card Number:</strong> <span id="aadhar">${x.adharcard}</span></p>
        <p><strong>Service Type:</strong> <span id="gate">${x.servicetype}</span></p>
        <p><strong>Availability:</strong> <span id="shift">${x.availability}</span></p>
        <p><strong>Medical:</strong> <span id="shift">${x.medical}</span></p>
        <p><strong>Status:</strong> <span id="shift" class="text-success">${x.status}</span></p>`
                    html+=` <button type="button" class ="btn btn-danger btn-sm border-white mt-2 w-50" onclick="block(${x.id})">Block</button>

                </div>
</div></div></td>`

                    html += `</tr>`
                }
                else{
                    html += `<tr>`
                    html += `<td><div class=" col-md-4 mb-3" >

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Helper Details</h5>
        <p><strong>Name:</strong> <span id="name">${x.name}</span></p>
        <p><strong>Gender:</strong> <span id="gender">${x.gender}</span></p>
        <p><strong>Phone Number:</strong> <span id="number">${x.number}</span></p>
        <p><strong>Email:</strong> <span id="email">${x.email}</span></p>
        <p><strong>Aadhar Card Number:</strong> <span id="aadhar">${x.adharcard}</span></p>
        <p><strong>Service Type:</strong> <span id="gate">${x.servicetype}</span></p>
        <p><strong>Availability:</strong> <span id="shift">${x.availability}</span></p>
        <p><strong>Medical:</strong> <span id="shift">${x.medical}</span></p>
        <p><strong>Status:</strong> <span id="shift" class="text-danger">${x.status}</span></p>`
                    html+=` <button type="button" class ="btn btn-success  border-white " onclick="approve(${x.id})">Approve</button>


                </div>
</div></div></td>`

                    html += `</tr>`
                }
            }
            document.getElementById('cards').innerHTML = html;
        } catch (e) {
            console.log(e.message);
        }
    }


    async function block(id){
        try{
            var status ='Block';
            var res = await fetch('/admin/changehelperstatus/'+ id, {method:'PUT',
                headers:{'Content-Type':'application/json'},
                body: JSON. stringify({
                    status:status
                })
            });
            res = await res.json();
            ReadgaurdData()
        }catch (e)
        {
            console.log(e.message);
        }
    }

    async function approve(id){
        try{
            var status ='Approved';
            var res = await fetch('/admin/changehelperstatus2/'+ id, {method:'PUT',
                headers:{'Content-Type':'application/json'},
                body: JSON. stringify({
                    status:status
                })
            });
            res = await res.json();
            ReadgaurdData()
        }catch (e)
        {
            console.log(e.message);
        }
    }





</script>





</body>
</html>