<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="assets/img/logo/preloader.png" alt="housa"></div>
    </div>
</div>
<!--
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                &lt;!&ndash; Logo Start &ndash;&gt;
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.svg" alt="Logo">
                </a>
                &lt;!&ndash; Logo End &ndash;&gt;

                &lt;!&ndash; Main Menu Start &ndash;&gt;
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a>

                            </li>
                            <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a>

                            <li class="nav-item"><a class="nav-link" href="/contactus">Contact Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="/user/login">Book Helper</a>
                            <li class="nav-item"><a class="nav-link" href="/user/login">Register Complaints</a>
                            <li class="nav-item submenu"><a class="nav-link" href="#">User</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/signup">SignUp</a></li>
                                </ul>
                            </li>
&lt;!&ndash;                            <li class="nav-item submenu"><a class="nav-link" href="#">Gaurd</a>&ndash;&gt;
&lt;!&ndash;                                <ul>&ndash;&gt;
&lt;!&ndash;                                    <li class="nav-item"><a class="nav-link" href="/logingaurd">Login</a></li>&ndash;&gt;

&lt;!&ndash;                                </ul>&ndash;&gt;
&lt;!&ndash;                            </li>&ndash;&gt;


                        </ul>
                    </div>

                </div>
                &lt;!&ndash; Main Menu End &ndash;&gt;
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>-->
<header class="homepage1-body">
    <div id="vl-header-sticky" class="vl-header-area vl-transparent-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="vl-logo">
                        <a href="/"><img src="/assets/img/logo/logo1.png" alt="housa"></a>
                    </div>
                </div>
                <div class="col-lg-10 d-none d-lg-block">
                    <div class="vl-main-menu text-end menu2">
                        <nav class="vl-mobile-menu-active">
                            <ul>
                                <li><a href="/">Home </a></li>
                                <li><a href="/user/login">Book Helper </a></li>
                                <li><a href="/user/login">Register Complaints</a></li>

                                <li class="has-dropdown">
                                    <a href="#">User <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="/user/signup">Create an account</a></li>
                                        <li><a href="/user/login">User Login</a></li>

                                    </ul>
                                </li>
                                <li><a href="/aboutus">About Us</a> </li>
                                <li><a href="/contactus">Contact Us</a> </li>


                            </ul>
                        </nav>

                    </div>
                </div>
                <!--<div class="col-lg-2 col-md-6 col-6 d-lg-none d-block">
                    <div class="vl-header-action-item d-block d-lg-none">
                        <button type="button" class="vl-offcanvas-toggle">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</header>