<script src="/assets/js/plugins/jquery-3-7-1.min.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/fontawesome.js"></script>
<script src="/assets/js/plugins/aos.js"></script>
<script src="/assets/js/plugins/jquery.appear.js"></script>
<script src="/assets/js/plugins/jquery.odometer.min.js"></script>
<script src="/assets/js/plugins/chart.js"></script>
<script src="/assets/js/plugins/gsap.min.js"></script>
<script src="/assets/js/plugins/ScrollTrigger.min.js"></script>
<script src="/assets/js/plugins/textSplite-custom.js"></script>
<script src="/assets/js/plugins/sidebar.js"></script>
<script src="/assets/js/plugins/swiper-slider.js"></script>
<script src="/assets/js/plugins/magnific-popup.js"></script>
<script src="/assets/js/plugins/mobilemenu.js"></script>
<script src="/assets/js/plugins/owlcarousel.min.js"></script>
<script src="/assets/js/plugins/nice-select.js"></script>
<script src="/assets/js/plugins/waypoints.js"></script>
<script src="/assets/js/plugins/slick-slider.js"></script>
<script src="/assets/js/plugins/circle-progress.js"></script>
<script src="/assets/js/main.js"></script>