<!--
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                &lt;!&ndash; Logo Start &ndash;&gt;
                <a class="navbar-brand" href="index.html">
                    <img src="/images/logo.svg" alt="Logo">
                </a>
                &lt;!&ndash; Logo End &ndash;&gt;

                &lt;!&ndash; Main Menu Start &ndash;&gt;
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="/user/userdash">Home</a>
                            <li class="nav-item"><a class="nav-link" href="/user/book">Book Helper </a>


                            </li>
                            <li class="nav-item submenu"><a class="nav-link" href="#">Register</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="/user/visitors">Register Visitors</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/vehical">Register Vehical</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/complaint">Register Complaint</a></li>

                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/user/amenities">Amenities</a>
                            <li class="nav-item"><a class="nav-link" href="/user/aboutus">About Us</a>

                            <li class="nav-item"><a class="nav-link" href="/user/contactus">Contact Us</a></li>

                            <li class="nav-item submenu"><a class="nav-link" href="#">Settings</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="/user/changepassword">Change Password</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>
                &lt;!&ndash; Main Menu End &ndash;&gt;
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>-->
<header class="homepage1-body">
    <div id="vl-header-sticky" class="vl-header-area vl-transparent-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="vl-logo">
                        <a href="/user/userdash"><img src="/assets/img/logo/logo1.png" alt="housa"></a>
                    </div>
                </div>
                <div class="col-lg-10 d-none d-lg-block">
                    <div class="vl-main-menu text-end menu2">
                        <nav class="vl-mobile-menu-active">
                            <ul>
                                <li><a href="/user/userdash">Home </a></li>
                                <li class="nav-item"><a class="nav-link" href="/user/book">Book Helper </a>


                                <li class="has-dropdown">
                                    <a href="#">Register <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="/user/visitors">Visitor(s)</a></li>
                                        <li><a href="/user/vehicle">Vehicle</a></li>
                                        <li><a href="/user/complaint">Complaint</a></li>

                                    </ul>
                                </li>
                                <li><a href="/user/amenities">Amenities</a>
<!--                                <li><a href="/user/aboutus">About Us</a>-->
<!--                                <li><a href="/user/contactus">Contact Us</a></li>-->
                                <li class="has-dropdown">
                                    <a href="#">Settings <span><i class="fa-solid fa-angle-down d-lg-inline d-none"></i></span></a>
                                    <ul class="sub-menu">
                                        <li ><a href="/user/changepassword">Change Password</a></li>
                                        <li ><a href="/user/logout">Logout</a></li>

                                    </ul>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </div>
                <!--<div class="col-lg-2 col-md-6 col-6 d-lg-none d-block">
                    <div class="vl-header-action-item d-block d-lg-none">
                        <button type="button" class="vl-offcanvas-toggle">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</header>